<app-admin-navbar></app-admin-navbar>
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar for larger screens -->
    <div class="col-md-2 d-md-block">
      <app-admin-sidebar></app-admin-sidebar>
    </div>

    <!-- Main content area -->
    <div class="col-md-9">
      <div class="container-fluid mt-5">
        <h6 class="mb-4 text-start">Manage Orders</h6>

        <!-- Search and Filter Section -->
        <div class="mb-4">
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="viewedOrdersCheckbox"
              [(ngModel)]="showViewedOrders"
              (change)="onFilterChange()"
            />
            <label class="form-check-label" for="viewedOrdersCheckbox">
              Show Only VOR Orders
            </label>
          </div>
        </div>

        <!-- Filters and Search Section -->
        <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
          <mat-form-field class="mb-2 mb-md-0 me-md-2" appearance="outline">
            <mat-label>Search Orders</mat-label>
            <input matInput [(ngModel)]="searchTerm" (input)="onFilterChange()" placeholder="Search Orders" />
          </mat-form-field>

          <!-- Customer Type Filter -->
          <mat-form-field class="mb-2 mb-md-0 me-md-2" appearance="outline">
            <mat-label>Customer Type</mat-label>
            <mat-select [(ngModel)]="selectedCustomerType" (selectionChange)="onFilterChange()">
              <mat-option value="">All Customer Types</mat-option>
              <mat-option *ngFor="let type of customerTypes" [value]="type">{{ type }}</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Order Status Filter -->
          <mat-form-field class="mb-2 mb-md-0 me-md-2" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="selectedStatus" (selectionChange)="onFilterChange()">
              <mat-option value="">All Statuses</mat-option>
              <mat-option *ngFor="let status of orderStatuses" [value]="status">{{ status }}</mat-option>
            </mat-select>
          </mat-form-field>


<!--          <div class="date-range-filter">-->
            <div class="form-group">
              <label for="startDate" class="form-label">From</label>
              <input
                type="date"
                id="startDate"
                class="form-control"
                [(ngModel)]="startDate"
                (change)="onFilterChange()"
                placeholder="Start Date"
              />
            </div>
            <div class="form-group">
              <label for="endDate" class="form-label">To</label>
              <input
                type="date"
                id="endDate"
                class="form-control"
                [(ngModel)]="endDate"
                (change)="onFilterChange()"
                placeholder="End Date"
              />
            </div>
<!--          </div>-->

        </div>

        <small>Total Orders : {{orders.length}}  <mat-icon class="small-icon" (click)="refreshPage()">refresh</mat-icon></small>
        <!-- Orders Table -->
        <div class="table-responsive">
          <table mat-table [dataSource]="filteredOrders" matSort class="mat-elevation-z8">
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> ID </th>
              <td mat-cell *matCellDef="let order" class="text-center"> {{ order.id }} </td>
            </ng-container>

            <!-- Customer Type Column -->
            <ng-container matColumnDef="customerType">
              <th mat-header-cell *matHeaderCellDef class="text-center"> Customer Type </th>
              <td mat-cell *matCellDef="let order" class="text-center"> {{ order.user.userRole }} </td>
            </ng-container>

            <!-- Customer Name Column -->
            <ng-container matColumnDef="customerName">
              <th mat-header-cell *matHeaderCellDef class="text-center"> Customer Name </th>
              <td mat-cell *matCellDef="let order" class="text-center"> {{ order.user.firstName }} {{ order.user.lastName }} </td>
            </ng-container>

            <!-- Order Date Column -->
            <ng-container matColumnDef="orderDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Order Date </th>
              <td mat-cell *matCellDef="let order" class="text-center"> {{ order.createdAt | date: 'dd-MMM-yyyy hh:mm a' }} </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef class="text-center"> Status </th>
              <td mat-cell *matCellDef="let order" class="text-center">
                <mat-select [(ngModel)]="order.status" (selectionChange)="onStatusChange($event, order)">
                  <mat-option *ngFor="let status of orderStatuses" [value]="status">{{ status }}</mat-option>
                </mat-select>
              </td>
            </ng-container>

            <!-- Order Items Column -->
            <ng-container matColumnDef="orderItems">
              <th mat-header-cell *matHeaderCellDef class="text-center"> Order Items </th>
              <td mat-cell *matCellDef="let order" class="text-center"> {{ order.orderItems.length }} </td>
            </ng-container>

            <!-- Total Amount Column -->
            <ng-container matColumnDef="totalAmount">
              <th mat-header-cell *matHeaderCellDef class="text-center"> Total Amount </th>
              <td mat-cell *matCellDef="let order" class="text-center"> {{ order.totalAmount | currency: 'INR' }} </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="text-center"> Actions </th>
              <td mat-cell *matCellDef="let order" class="text-center">
                <div class="d-flex justify-content-around">
                  <a [routerLink]="['/admin/manage-orders/view-order-details', order.id]"
                     class="btn btn-primary btn-sm action-btn">
                    <i class="fas fa-eye"></i> View
                  </a>
                  <button (click)="deleteOrder(order.id)" class="btn btn-danger btn-sm action-btn dlt">
                    <i class="fas fa-trash"></i> Delete
                  </button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let order; columns: displayedColumns;"></tr>
          </table>
        </div>
        <!-- Pagination -->
        <mat-paginator [length]="totalOrders" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 15]"
                       (page)="onPageChange($event)">
        </mat-paginator>

      </div>
    </div>
  </div>
</div>
