<div  class="container-fluid d-flex align-items-center justify-content-center">
  <div class="row">
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <div class="card shadow-lg p-4" style="border-radius: 15px; width: 80%;">
        <div class="text-center mb-4">
          <img [src]="'https://harshal-ecom.s3.eu-north-1.amazonaws.com/images/Logo.png'" class="logo-image" alt="logo" />
        </div>

        <h6 class="mb-4" *ngIf="step === 1">Forgot Password</h6>
        <h6 class="mb-4" *ngIf="step === 2">Verify OTP & Reset Password</h6>

        <!-- Step 1: Email Form -->
        <form *ngIf="step === 1" [formGroup]="forgotPasswordForm" (ngSubmit)="onEmailSubmit()">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter your email">
            <div *ngIf="forgotPasswordForm.get('email').invalid && forgotPasswordForm.get('email').touched" class="text-danger">
              Please enter a valid email.
            </div>
          </div>

          <!-- Spinner in button when loading -->
          <button type="submit" class="btn btn-primary w-100" [disabled]="forgotPasswordForm.invalid || loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="!loading">Send OTP</span>
          </button>
        </form>

        <!-- Step 2: OTP and New Password Form -->
        <form *ngIf="step === 2" [formGroup]="otpForm" (ngSubmit)="onOtpSubmit()">
          <div class="mb-3">
            <small *ngIf="invalidOtp" class="text-danger">Invalid OTP</small><br>
            <label for="otp" class="form-label">OTP</label>
            <input type="text" class="form-control" id="otp" formControlName="otp" placeholder="Enter OTP">
            <div *ngIf="otpForm.get('otp').invalid && otpForm.get('otp').touched" class="text-danger">
              Please enter a valid OTP.
            </div>
          </div>

          <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" id="newPassword" formControlName="newPassword" placeholder="Enter new password">
            <div *ngIf="otpForm.get('newPassword').invalid && otpForm.get('newPassword').touched" class="text-danger">
              Password must be at least 6 characters long.
            </div>
          </div>

          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm your password">
            <div *ngIf="otpForm.get('confirmPassword').invalid && otpForm.get('confirmPassword').touched" class="text-danger">
              Confirm your password.
            </div>
            <div *ngIf="otpForm.errors" class="text-danger">
              Passwords do not match.
            </div>
          </div>

          <button type="submit" class="btn btn-primary w-100" [disabled]="otpForm.invalid">Reset Password</button>
        </form>

        <div class="text-center mt-4" *ngIf="step === 1">
          <a href="#" [routerLink]="['/login']" class="text-danger">Back to Sign In</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 d-none d-md-block">
      <div class="d-flex justify-content-center align-items-center h-100">
        <img *ngIf="step === 1" src="https://img.freepik.com/free-vector/landing-page-new-message-concept_52683-25039.jpg?t=st=1725803820~exp=1725807420~hmac=6c47f5a94093edb44083345ec46c9fc51df984d785b0f08842b20b42efc5f841&w=740"
             alt="Shopping illustration" class="img-fluid disabled-click" style="max-height: 100%;">
        <img *ngIf="step === 2" src="https://img.freepik.com/free-vector/enter-otp-concept-illustration_114360-7967.jpg?t=st=1725803981~exp=1725807581~hmac=acadbfdb658ca443a85c802742769df9719bb3f1c2039ef6b645449355c4f7a7&w=740"
             alt="Shopping illustration" class="img-fluid disabled-click" style="max-height: 100%;">
      </div>
    </div>
  </div>
</div>
