<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card h-100">
        <div class="card-header bg text-white">
          <p class="card-title">Financial Metrics Overview</p>
        </div>
        <div class="row mt-4 p-2 d-flex flex-wrap justify-content-center">
          <div class="col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
            <div class="card text-white" style="background-color: #4CAF50;">
              <div class="card-body">
                <p class="card-title">Total Revenue</p>
                <h5 class="card-text">{{ totalRevenue  }}</h5>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
            <div class="card text-white" style="background-color: #FF9800;">
              <div class="card-body">
                <p class="card-title">Total Expenses</p>
                <h5 class="card-text">{{ totalExpenses  }}</h5>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
            <div class="card text-white" style="background-color: #2196F3;">
              <div class="card-body">
                <p class="card-title">Net Profit</p>
                <h5 class="card-text">{{ netProfit  }}</h5>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
            <div class="card text-white" style="background-color: #F44336;">
              <div class="card-body">
                <p class="card-title">Pending Payments</p>
                <h5 class="card-text">{{ pendingPayments  }}</h5>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
            <div class="card text-white" style="background-color: #9E9E9E;">
              <div class="card-body">
                <p class="card-title">Total Orders</p>
                <h5 class="card-text">{{ totalOrders }}</h5>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6 col-6 mb-4">
            <div class="card text-white" style="background-color: #FFC107;">
              <div class="card-body">
                <p class="card-title">Total Customers</p>
                <h5 class="card-text">{{ totalCustomers }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
