<footer class="footer bg-dark text-white mt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h5 class="footer-heading">About Us</h5>
        <p style="text-align: justify">At [Your Company Name], we provide top-quality spare parts for all types of tractors, ensuring reliable performance and longevity. With a focus on durability and efficiency, our wide range of products is sourced from trusted manufacturers. Whether you're a large farm or a small operation, we’re here to help you find the right parts to keep your tractors running smoothly.</p>
      </div>
      <div class="col-md-4">
        <h5 class="footer-heading">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Home</a></li>
          <li><a href="#" class="text-white">Products</a></li>
          <li><a [routerLink]="'/contact'" class="text-white">Contact Us</a></li>
          <li><a [routerLink]="'/privacy-policy'" class="text-white">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="footer-heading">Follow Us</h5>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="text-center py-3">
      <small>&copy; 2024 Gurudatta Traders. All rights reserved.</small><br>
      <small class="text-primary">Designed and Developed by <a href="https://www.instagram.com/harshal_thitme?igsh=OGg4eWo4ZJQ2N2N3" class="text-primary">Harshal Thitame</a></small>
    </div>
  </div>
</footer>
