.footer {
  padding: 40px 0;
  background-color: #343a40;
}

.footer-heading {
  font-weight: bold;
  margin-bottom: 20px;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
}

.footer a:hover {
  color: #c06162; /* Change to your hover color */
}

.footer .list-inline-item {
  margin: 0 10px;
}

.footer .list-inline-item a {
  font-size: 1.5rem; /* Adjust icon size */
}
.footer a {
  text-decoration: none;
  color: #ffffff;
}

.footer a:hover {
  color: #c06162; /* Change to your hover color */
}

.footer .designer-link {
  color: #c06162; /* Adjust designer link color */
  font-weight: bold;
}

.footer .designer-link:hover {
  text-decoration: underline; /* Add underline on hover */
}
@media (max-width: 768px) {
  /* Adjust any specific styles for smaller screens if necessary */
  h1, h2, h3, h6, h4, h5, p, button,span,small,strong,input,label,td,tr,th,.mat-mdc-select,.mdc-floating-label,a{
    font-size: 80%!important; /* Keep reduced font size */
    line-height: 1.25rem !important;
  }
}
