<div class="col-md-10 offset-md-1 position-relative offer mb-3">
  <div class="card offer text-center mb-4">
    <img [src]="'https://media.istockphoto.com/id/596780762/photo/abstract-car-and-many-vehicles-parts.jpg?s=612x612&w=0&k=20&c=s1TYWoz4wQIDksuCpTOmIymZRHAtzaZZAvOlJQTl1n0='" class="card-img-top" alt="{{ currentProduct.name }}">
    <div class="card-body">
      <h5 class="card-title">{{ currentProduct.name }}</h5>
      <p class="card-text">{{ currentProduct.description }}</p>
      <h4 class="text-success">{{ currentProduct.price | currency }}</h4>
    </div>
  </div>
  <!-- Navigation Arrows -->
  <div class="arrow text-center">
    <i class="mr-3 fas fa-chevron-left" (click)="currentIndex = (currentIndex - 1 + products.length) % products.length"
    ></i>
    <i class="ml-3 fas fa-chevron-right" (click)="currentIndex = (currentIndex + 1) % products.length"
    ></i>
  </div>

</div>
