.product-image {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.product-details {
  margin-left: 20px;
}

.card {
  border: 1px solid #ddd;
}


.main-image-box {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.main-image {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.thumbnail-images {
  width: 100%;
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.thumbnail-images::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.thumbnail-image {
  width: 60px;
  height: 60px;
  cursor: pointer;
  object-fit: contain;
  border: 2px solid #ddd;
  transition: border-color 0.3s ease;
}

.thumbnail-image:hover {
  border-color: #000;
}


.return-card {
  border-radius: 15px;
  background: linear-gradient(145deg, #abebfd, #90c1fd);
}

.icon-img {
  height: 40px;
}

h6 {
  font-size: 18px;
}

p {
  color: #8dc9f3;
}

strong {
  color: black;
}

.success-snackbar {
  background-color: #4caf50; /* Green color for success */
  color: white;
}


/* Adjustments for tablet screens and smaller */
@media (max-width: 768px) {
  .img-home {
    height: 150px; /* Reduce image height */
  }

  h2 {
    font: 400 1.4rem / 1.25rem Roboto, sans-serif !important;
    letter-spacing: 0;
    margin: 0 0 .5em;
  }

  h3,h4 {
    font-size: 1.2em;
  }

  .prod-img {
    height: 80px !important;
    object-fit: contain !important;
  }

  .card-body {
    padding: 5px !important;
    border-spacing: 10px;
  }

  h5,h6, button,li {
    font-size: 0.75rem !important;
    line-height: 1.25rem!important;
  }

  p{
    font-size: 0.7em;
    line-height: 1.25rem!important;
  }
  small,span{
    font-size: 1em;
  }

  .animated-search {
    width: 100%; /* Full width for smaller screens */
    padding: 10px 20px; /* Adjust padding */
  }

  .btn-primary {
    width: 35px; /* Smaller button */
    height: 35px; /* Smaller button */
  }

  .product-card {
    margin-bottom: 15px; /* Reduce spacing between cards */
  }

  .feature-img {
    height: 150px; /* Reduce image size */
  }

  .card-title {
    font-size: 1rem; /* Adjust title font size */
  }

  .card-body {
    font-size: 0.9rem; /* Adjust pricing font */
  }

  .return-card{
    padding: 20px!important;
    margin: 0!important;
  }
}

/* Adjustments for mobile phones */
@media (max-width: 576px) {
  .img-home {
    height: 120px; /* Further reduce image height */
  }

  .search-wrapper {
    width: 100%; /* Full width for mobile screens */
  }

  h1 {
    font-size: 28px; /* Smaller font size for h1 */
  }

  .card-title {
    font-size: 0.9rem; /* Smaller title */
  }

  .search-wrapper {
    max-width: 100%; /* Ensure search bar takes full width */
  }

  .animated-search {
    padding: 8px 20px; /* Adjust padding */
  }

  .product-card {
    margin-bottom: 10px; /* Further reduce spacing between cards */
  }

  .card-body h6 {
    font-size: 0.8rem; /* Smaller font for pricing */
  }
}



