<app-admin-navbar />

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-admin-sidebar></app-admin-sidebar>
    </div>
    <div class="col-md-9">
      <div class="container-fluid">
        <h5 class="text-start mb-4 text-primary">Manage Categories</h5>

        <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()"
              class="shadow-lg p-4 rounded bg-white border border-light">
          <h6 class="text-secondary text-start mb-4">{{ editingCategoryId ? 'Edit Category' : 'Add New Category' }}</h6>
          <div class="form-group">
            <label for="categoryName">Category Name</label>
            <input type="text" formControlName="name" id="categoryName" class="form-control"
                   placeholder="Enter category name" required>
          </div>
          <div class="form-group">
            <label for="categoryDescription">Description</label>
            <textarea formControlName="description" id="categoryDescription" class="form-control"
                      placeholder="Enter a brief description"></textarea>
          </div>
          <div class="form-group">
            <label for="categoryImage">Category Image URL</label>
            <input type="text" formControlName="categoryImage" id="categoryImage" class="form-control"
                   placeholder="Enter image URL">
          </div>

          <div formArrayName="subcategories">
            <div *ngFor="let sub of subcategories.controls; let i = index" [formGroupName]="i" class="mb-3">
              <h6 class="text-info">Subcategory {{ i + 1 }}</h6>
              <input type="hidden" formControlName="id"> <!-- Hidden input for subcategory ID -->
              <div class="form-group">
                <label for="subCategoryName">Subcategory Name</label>
                <input type="text" formControlName="name" id="subCategoryName" class="form-control"
                       placeholder="Enter subcategory name" required>
              </div>
              <div class="form-group">
                <label for="subCategoryDescription">Description</label>
                <textarea formControlName="description" id="subCategoryDescription" class="form-control"
                          placeholder="Enter a brief description"></textarea>
              </div>
              <button type="button" class="btn btn-danger" (click)="removeSubCategory(i, sub)">Remove Subcategory</button>
            </div>
          </div>

          <div class="d-flex flex-column flex-md-row justify-content-between">
            <button type="button" class="mt-2 btn btn-outline-secondary" (click)="addSubCategory()">Add Subcategory</button>
            <button type="submit" class="btn btn-primary mt-3">{{ editingCategoryId ? 'Update Category' : 'Add Category' }}</button>
          </div>
        </form>

        <div class="mt-4">
          <h3 class="text-center text-secondary">Existing Categories</h3>
          <div class="row">
            <div *ngFor="let category of categories" class="col-6 col-md-4 col-lg-3 mb-4">
              <div class="category-card text-center p-3 shadow-lg rounded">
                <div class="card-header">
                  <img class="category-img img-fluid rounded" [src]="category.categoryImage||NoImage" alt="{{ category.name }}">
                </div>
                <h6 (click)="scrollToCategory(category.id)" class="category-title text-success">{{ category.name }}</h6>

                <!-- Change Image Button -->
                <div class="d-flex mt-2 text-center">
                  <!-- Hidden file input for image upload -->
                  <input type="file" (change)="onFileSelected($event)" multiple class="form-control" id="fileInputCover"
                         aria-describedby="uploadOfferButton">
                  <button class="btn btn-outline-secondary btn-sm " (click)="changeCategoryImage(category)">Upload</button>
                </div>

                <div class="d-flex justify-content-around mt-3">
                  <button type="button" class="btn btn-outline-info action-btn" (click)="editCategory(category)">
                    <span class="material-symbols-outlined">edit</span>
                  </button>
                  <button type="button" class="btn btn-outline-danger action-btn" (click)="deleteCategory(category.id)">
                    <span class="material-symbols-outlined">delete</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div *ngFor="let category of categories" id="subcategories-{{ category.id }}" class="mt-5">
          <h3 class="text-success text-center">{{ category.name }} Subcategories</h3>
          <div class="card mb-4 shadow-lg">
            <div class="card-body">
              <ul class="list-unstyled">
                <li *ngFor="let sub of category.subCategories || []" class="subcategory-item">
                  <div class="d-flex justify-content-between">
                    <div class="">
                      {{ sub.name }} - {{ sub.description }}
                    </div>
                    <div class="">
                      <button type="button" class="btn btn-outline-danger action-btn" (click)="deleteSubCategory(sub.id)">
                        <span class="material-symbols-outlined">delete</span>
                      </button>
                    </div>
                  </div>
                  <hr>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
