<app-admin-navbar/>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 d-md-block">
      <app-admin-sidebar></app-admin-sidebar>
    </div>
    <div class="col-md-9">
      <div *ngIf="order.isVor" class="card bg-danger-subtle mt-2 p-2">
        <h6>This is VOR order.</h6>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-7">
          <div class="card mt-3">
            <div class="card-header bg">
              <h5>Order Details</h5>
              <small> Order Date : {{ order.createdAt|date:'dd-MMM-YYYY hh:mm a' }}</small>
            </div>
            <div class="card-body">
              <h6>Product Details:</h6>
              <div *ngFor="let item of order.orderItems">
                <div class="row">
                  <div class="col-8">
                    <div class="d-flex justify-content-between">
                    <h6>{{ item.product.name }}</h6>
                      <div class="text-center">
                        <p><strong>MRP:</strong> {{ item.price | currency : 'INR' }} (-{{item.discountOnPurchase}}% Off)</p>
                        <p><strong>Price:</strong> {{ getDiscountedPrice(item.product) | currency : 'INR' }}</p>
                        <p><strong>Quantity:</strong> {{ item.quantity }}</p>
                      </div>
                    </div>
                    <p><strong>Subtotal:</strong> {{ item.subtotal | currency : 'INR' }}</p>
                    <p><strong>Discount:</strong> {{ item.discountAmount | currency : 'INR' }}</p>
                    <p><strong>GST:</strong> ({{ item.gst}}%)  {{item.taxAmount}}</p>
                    <p><strong>Total Price:</strong> {{ item.totalPrice | currency : 'INR' }}</p>
                  </div>
                  <div class="col-4 text-center">
                    <img [src]="item.product.mainImage || NoImage" alt="{{ item.product.name }}"
                         class="img-fluid mb-2 item-img"/>
                  </div>
                </div>
                <hr/>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5">
          <div class="bg-secondary-subtle p-lg-4 mt-lg-3">
            <h6>Order Summary:</h6>
            <hr>
            <p><strong>Total Items:</strong> {{ order.orderItems.length }}</p>
            <p><strong>Discount:</strong> {{ getTotalSavings() }}</p>
            <p><strong>GST:</strong> {{ getGst() }}</p>
            <p><strong>Subtotal:</strong> {{ getSubtotal() | currency : 'INR' }}</p>
            <p><strong>Total Amount:</strong> {{ order.totalAmount | currency : 'INR' }}</p>

          </div>
          <!-- User Details Card -->
          <div class="card mt-3">
            <div class="card-header bg">
              <h5>User Details</h5>
            </div>
            <div class="card-body">
              <p><strong>Name:</strong> {{ order.user.firstName }} {{ order.user.lastName }}</p>
              <p><strong>Email:</strong> {{ order.user.email }}</p>
              <p><strong>Mobile:</strong> {{ order.user.mobile }}</p>
              <p><strong>Address:</strong> {{ order.user.address }}, {{ order.user.city }}, {{ order.user.state }}
                , {{ order.user.postalCode }}</p>
              <p><strong>Status:</strong> {{ order.user.isActive ? 'Active' : 'Inactive' }}</p>
            </div>
          </div>
          <!-- Additional Information Card -->
          <div class="card mt-3">
            <div class="card-header bg">
              <h5>Additional Information</h5>
            </div>
            <div class="card-body">
              <p>Delivery Address: demo</p>
              <p>Order Date: {{ order.createdAt | date:'dd-MMM-yyyy hh:mm a' }}</p>


              <!-- order.component.html -->
              <div class="mb-3">
                <label for="status" class="form-label">Change Status:</label>
                <select id="status" class="form-select" [(ngModel)]="order.status" (change)="onStatusChange($event)">
                  <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
                </select>
              </div>

              <!-- Status Display -->
              <div class="alert" [ngClass]="getStatusClass(order.status)">
                Current Status: <strong>{{ order.status }}</strong>
              </div>
              <button class="btn btn-primary w-100" (click)="printOrder()">Print Invoice</button>
              <button class="btn btn-outline-secondary mt-2 w-100" (click)="markAsUnread()">Mark as unread</button>
            </div>
          </div>
          <a *ngIf="order.status==='PENDING'" class="d-block text-center mt-3"
             [routerLink]="'/admin/manage-orders/edit-order-details/'+order.id">Want to update order?</a>
          <span class="small mt-5">Write a note about this order....</span>
          <div class="input-group input-group-sm">
              <textarea [(ngModel)]="order.notes" rows="5" class="form-control" aria-label="Notes"
                        aria-describedby="notes">
              </textarea>
          </div>
          <button class="btn bg m-3 text-white note-btn" (click)="addNoteToOrder()">Submit Note
          </button>
        </div>
      </div>

      <app-order-invoice style="display: none" [order]="order"></app-order-invoice>
    </div>
  </div>
</div>
