<app-navbar></app-navbar>
<div class="container-fluid">
  <!-- Welcome Section -->
  <div class="card card-home shadow-lg mb-3">
    <div class="row text-start">
      <div class="col-md-2 image-container">
        <img
          *ngIf="currentImage"
          [src]="currentImage"
          alt="Spare Parts"
          class="img-fluid img-home"
          [@slideAnimation]
        />
      </div>
      <div class="col-md-6 text-start">

        <div class="card border-0 text-white" style="background: none">
          <div class="card-body">

            <!-- Main Line -->
            <h1 class="text-start card-title mb-0">Find Parts For Your Tractor !</h1>

            <!-- Tag Line -->
            <p class="card-text text-muted mt-0">Powering Your Tractor with the Best Parts</p>

            <!-- Animated Search Bar Positioned at Top Right -->
            <div class="search-container">
              <div class="search-wrapper">
                <input type="text" class="form-control animated-search" placeholder="Search for parts..."/>
                <button class="btn btn-primary" type="button">🔍</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>


  <!-- Offer Card -->
  <app-offer/>
  <!--  Dropdown search-->
  <app-dropdown-search/>
  <!-- Categories Section -->
  <app-shared-categories/>

  <!-- Product Display Section -->
  <div class="row mt-4">
    <div class="col-12">
      <h3 class="text-center mb-4">Featured Products</h3>
    </div>

    <div class="col-md-2 mb-4" *ngFor="let product of products">
      <div class="card h-100 product-card"
           [routerLink]="['/category/sub-category/sub-sub-category/product-details', product.id]">
        <img [src]=" noImage" class="card-img-top feature-img" alt="{{ product.name }}">
        <div class="card-body bg text-white">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="text-white">Minimum order quantity: {{ product.moq }}</p>
          <h6 class="text-white mt-2">
            {{ getDiscountedPrice(product) | currency:'INR' }}
            <small class="text-warning ms-2 h6">-{{ getDiscount(product) }}% Off</small>
          </h6>
          <small class="text-white">Special offer for mechanics</small>
          <p class="text-white">Price: <span
            class="text-decoration-line-through">{{ product.price | currency:'INR' }}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
