
<div class="menu-container mt-4">
  <h3>Search Parts</h3>
  <nav>
    <ul class="menu">
      <li class="dropdown dropdown-6">
        Brand: <span *ngIf="selectedBrand">{{ selectedBrand.name }}</span>
        <ul class="dropdown_menu dropdown_menu--animated dropdown_menu-6">
          <li (click)="onBrandSelect(null)">Select</li> <!-- Default Option -->
          <li *ngFor="let brand of brands" class="dropdown_item-1"
              (click)="onBrandSelect(brand)">
            {{ brand.name }}
          </li>
        </ul>
      </li>
      <li class="dropdown dropdown-7">
        Model No: <span *ngIf="selectedModel"> {{ selectedModel.name }}</span>
        <ul class="dropdown_menu dropdown_menu--animated dropdown_menu-7">
          <li (click)="onModelSelect(null)">Select</li> <!-- Default Option -->
          <li *ngFor="let model of brandModels" class="dropdown_item"
              (click)="onModelSelect(model)">
            {{ model.name }}
          </li>
        </ul>
      </li>
      <li class="dropdown dropdown-8">
        Category: <span *ngIf="selectedCategory"> {{ selectedCategory.name }}</span>
        <ul class="dropdown_menu dropdown_menu--animated dropdown_menu-8">
          <li (click)="onCategorySelect(null)">Select</li> <!-- Default Option -->
          <li *ngFor="let cat of categories" class="dropdown_item"
              (click)="onCategorySelect(cat)">
            {{ cat.name }}
          </li>
        </ul>
      </li>

      <button class="text-white btn btn-outline-secondary">
        <span class="material-symbols-outlined" (click)="SearchByDropdown()">search</span>
      </button>
    </ul>
  </nav>
</div>

