/* Base styles for menu container */
.menu-container {
  margin-top: 20px;
  text-align: center;
}

/* Header styles */
.menu-container h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Flexbox layout for search form */
.search-form {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center align elements */
}

/* Responsive styles for form fields */
.mat-form-field {
  width: 100%; /* Full width on smaller screens */
  max-width: 400px; /* Limit max width for larger screens */
  margin: 10px 0; /* Space between dropdowns */
}

/* Styles for the search button */
.search-btn {
  margin-bottom: 20px; /* Spacing above the button */
  margin-left: 10px;
  border-radius: 1px;
}

/* Media queries for responsive adjustments */
@media (min-width: 768px) {
  h1, h2, h3, h6, h4, h5, p, button,span,small,strong,input,label,td,tr,th,.mat-mdc-select,.mdc-floating-label,a{
    font-size: 80%!important; /* Keep reduced font size */
    line-height: 1.25rem !important;
  }
  .search-form {
    flex-direction: row; /* Align elements in a row on larger screens */
    justify-content: center; /* Center the search form */
  }
  .mat-form-field {
    margin: 0 ;
  }
  .menu-container .mat-form-field .mat-label {
    font-size: 14px !important; /* Force reduction of label font size */
  }

  .menu-container .mat-option {
    font-size: 14px !important; /* Force reduction of option font size */
  }
}
