<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-admin-sidebar></app-admin-sidebar>
    </div>
    <div class="col-md-9">
      <div *ngIf="order.isVor" class="card bg-danger-subtle mt-2 p-2">
        <h6>This is VOR order.</h6>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="card mt-3">
            <div class="card-header bg">
              <h5>Order Details #{{ order.id }}</h5>
            </div>
            <div class="card-body">
              <h6>Product Details:</h6>
              <div *ngFor="let item of order.orderItems">
                <div class="row">
                  <div class="col-md-8">
                    <small class="text-danger">In Stock : {{ item.product.stockQuantity }}</small>
                    <h6>{{ item.product.name }}</h6>
                    <p>
                    </p>
                    <div class="input-group input-group-sm mb-2">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Quantity</span>
                      </div>
                      <input type="number" [(ngModel)]="item.quantity" min="1" class="form-control"
                             aria-label="Quantity" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <button class="btn bg mb-2 text-white" (click)="updateSubtotal(item)">Update Order</button>

                    <p><strong>Price:</strong> {{ item.price | currency : 'INR' }}</p>
                    <p><strong>Subtotal:</strong> {{ item.subtotal | currency : 'INR' }}</p>
                    <p><strong>GST ({{ item.product.gst }}%): </strong> {{ item.taxAmount | currency : 'INR' }}</p>
                    <p>
                      <strong *ngIf="order.user.userRole=='RETAILER'">Discount  ({{ item.product.discountToRetailer }}%):</strong>
                      <strong *ngIf="order.user.userRole=='CUSTOMER'">Discount  ({{ item.product.discountOnPurchase }}%):</strong>
                      <strong *ngIf="order.user.userRole=='MECHANIC'">Discount  ({{ item.product.discountToMechanics }}%):</strong>

                      -{{ item.discountAmount | currency : 'INR' }}</p>
                    <p><strong>Total Price:</strong> {{ item.totalPrice | currency : 'INR' }}</p>
                  </div>
                  <div class="col-md-4">
                    <img [src]="item.product.mainImage || NoImage" alt="{{ item.product.name }}"
                         class="img-fluid mb-2 item-img"/>
                  </div>
                </div>
                <hr/>
              </div>
              <h6>Order Summary:</h6>
              <p><strong>Total Items:</strong> {{ order.orderItems.length }}</p>
              <p><strong>Total Amount:</strong> {{ order.totalAmount | currency : 'INR' }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <!-- User Details Card -->
          <div class="card mt-3">
            <div class="card-header bg">
              <h5>User Details</h5>
            </div>
            <div class="card-body">
              <p><strong>Name:</strong> {{ order.user.firstName }} {{ order.user.lastName }}</p>
              <p><strong>Email:</strong> {{ order.user.email }}</p>
              <p><strong>Mobile:</strong> {{ order.user.mobile }}</p>
              <p><strong>Address:</strong> {{ order.user.address }}, {{ order.user.city }}, {{ order.user.state }}
                , {{ order.user.postalCode }}</p>
              <p><strong>Status:</strong> {{ order.user.isActive ? 'Active' : 'Inactive' }}</p>
            </div>
          </div>
          <!-- Additional Information Card -->
          <div class="card mt-3">
            <div class="card-header bg">
              <h5>Additional Information</h5>
            </div>
            <div class="card-body">
              <p>Delivery Address: demo</p>
              <p>Order Date: {{ order.createdAt | date:'dd-MMM-yyyy hh:mm a' }}</p>
              <p>Last Updated On: {{ order.updatedAt | date:'dd-MMM-yyyy hh:mm a' }}</p>
              <p>Status: {{ order.status }}</p>
              <button class="btn btn-primary">Print Order</button>
            </div>
          </div>
        </div>
        <span class="small mt-5">Write a note about this order....</span>
        <div class="input-group input-group-sm">
  <textarea [(ngModel)]="order.notes" rows="5" class="form-control" aria-label="Notes" aria-describedby="notes">
  </textarea>
        </div>
        <button class="btn bg m-3 text-white" style="width: 10%;" (click)="addNoteToOrder()">Submit Note</button>
      </div>
    </div>
  </div>
</div>
