<div class="container-fluid">
  <h6>Search by Category</h6>
  <div class="row mb-3">
    <!-- Display limited categories initially, load more on button click -->
    <div class="col-lg-2 col-md-4 col-sm-6 col-6 mb-4 d-flex" *ngFor="let category of getVisibleCategories()">
      <a [routerLink]="['/category/sub-category/', category.id]" class="text-decoration-none w-100">
        <mat-card class="category-card shadow-lg text-center" [@bounceDrop]="bounceState">
          <mat-card-header class="category-header">
            <img mat-card-image class="cat-img" [src]="category.categoryImage || NoImage" alt="{{ category.name }}">
          </mat-card-header>
          <mat-card-content class="category-body">
            <p class="cat-name text-white">{{ category.name }}</p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>

  <!-- Load More button, only visible if there are more categories to load -->
  <div class="row justify-content-center" *ngIf="categories.length > visibleCategoriesCount">
    <button class="btn btn-primary w-25" (click)="loadMoreCategories()">Load More</button>
  </div>
</div>
