<app-navbar />

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-12">
      <app-admin-sidebar></app-admin-sidebar>
    </div>
    <div class="col-md-10 col-12">
      <div class="container-fluid">
        <h5 class="text-start mb-4 text-primary">Manage Brands</h5>

        <form [formGroup]="brandForm" (ngSubmit)="onSubmit()"
              class="shadow-lg p-4 rounded bg-white border border-light">
          <h6 class="text-secondary text-start mb-4">{{ editingBrandId ? 'Edit Brand' : 'Add New Brand' }}</h6>
          <div class="form-group">
            <label for="brandName">Brand Name</label>
            <input type="text" formControlName="name" id="brandName" class="form-control"
                   placeholder="Enter brand name" required>
          </div>

          <div formArrayName="brandModels">
            <div *ngFor="let model of brandModels.controls; let i = index" [formGroupName]="i" class="mb-3">
              <h5 class="text-info">Brand Model {{ i + 1 }}</h5>
              <input type="hidden" formControlName="id"> <!-- Hidden input for brand model ID -->
              <div class="form-group">
                <label for="brandModelName">Model Name</label>
                <input type="text" formControlName="name" id="brandModelName" class="form-control"
                       placeholder="Enter model name" required>
              </div>
              <button type="button" class="btn btn-danger" (click)="removeBrandModel(i,model)">Remove Model</button>
            </div>
          </div>

          <div class="d-flex flex-column flex-md-row justify-content-between">
            <button type="button" class="mt-2 btn btn-outline-secondary" (click)="addBrandModel()">Add Model</button>
            <button type="submit" class="btn btn-primary mt-3">{{ editingBrandId ? 'Update Brand' : 'Add Brand' }}</button>
          </div>
        </form>

        <div class="mt-4">
          <h3 class="text-center text-secondary">Existing Brands</h3>
          <div class="row">
            <div *ngFor="let brand of brands" class="col-md-3 col-6 mb-4">
              <div class="brand-card text-center p-3 shadow-lg rounded">
                <h6>{{ brand.name }}</h6>
                <div class="d-flex justify-content-around">
                  <button type="button" class="btn btn-outline-info action-btn" (click)="editBrand(brand)">
                    <span class="material-symbols-outlined">edit</span>
                  </button>
                  <button type="button" class="btn btn-outline-danger action-btn" (click)="deleteBrand(brand.id)">
                    <span class="material-symbols-outlined">delete</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
