<app-admin-navbar/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!-- Admin Sidebar -->
      <app-admin-sidebar></app-admin-sidebar>
    </div>

    <div class="col-md-9">
      <div class="row mt-lg-4">
        <div class="col-md-5">
          <!-- Product Image -->
          <div class="product-detail">
            <div class="main-image-box">
              <img [src]="selectedImageUrl" alt="Product Image" class="main-image">
            </div>
            <div class="thumbnail-images">
              <img
                [src]="product.mainImage"
                alt="Thumbnail Image"
                class="thumbnail-image"
                (click)="onImageHover(product.mainImage)">
              <div class="thumbnail-image-wrapper" *ngFor="let image of product.images; let i = index">
                <img
                  [src]="image.url"
                  alt="Thumbnail Image"
                  class="thumbnail-image"
                  (click)="onImageHover(image.url)">
                <!-- Delete icon for other images -->
                <button mat-icon-button class="delete-icon" (click)="deleteCoverImage(image)">
                  <mat-icon class="small-icon">delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="cart-button text-center frame mt-3">
            <button [routerLink]="'/admin/edit-product/'+product.id" class="btn btn-outline-secondary"><span>Edit Product</span>
            </button>
            <div class="row justify-content-center">

              <h6 class="text-center">Upload main image</h6>
              <form>
                <div class="input-group mb-3">
                  <input type="file" (change)="onFileSelected($event)" class="form-control" id="fileInput"/>
                  <button type="button" class="btn btn-outline-primary" (click)="uploadMainImage()">Upload</button>
                </div>
              </form>

              <!-- File Input for Cover Images -->
              <div  class="">
                <h6 class="text-center mt-3">Upload Cover Images</h6>
                <div class="input-group mb-3">
                  <input type="file" (change)="onFileSelected($event)" multiple class="form-control" id="fileInputCover"
                         aria-describedby="uploadCoverButton">
                  <button class="btn btn-outline-info" type="button" id="uploadCoverButton"
                          (click)="uploadCoverImage()">
                    Upload
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-7">
          <span *ngIf="product.blocked" class="bg-danger-subtle p-2 m-2">This product is currently blocked and cannot be listed for sale.</span>
          <mat-slide-toggle [(ngModel)]="product.blocked" (change)="toggleBlocked(product)">
            {{ product.blocked ? 'Blocked' : 'Active' }}
          </mat-slide-toggle>
          <!-- Product Details -->
          <div class="product-details">
            <h2>{{ product.name }}</h2>
            <div class="d-flex justify-content-between">
              <div class="">
                <h6>For customer</h6>

                <!-- Original MRP -->
                <p class="text-muted">
                  <small>
                    <del>MRP: {{ product.price ' }}</del>
                  </small>
                </p>
                <!-- Discounted Price -->
                <h4 class="text-success">
                  Price: {{ calculateDiscountedPrice(product.price, product.discountOnPurchase || 0)  }}
                </h4>
                <!-- Discount Percentage -->
                <p class="text-danger">
                  You
                  save:(-{{ product.price - calculateDiscountedPrice(product.price, product.discountOnPurchase) }}
                  ) {{ product.discountOnPurchase }}% off
                </p>

                <div class="mb-3">
                  <label for="discountCustomer" class="form-label">Change Discount</label>
                  <input
                    type="number"
                    class="form-control"
                    id="discountCustomer"
                    [(ngModel)]="product.discountOnPurchase"
                    placeholder="Enter discount"
                    min="0" max="100"
                  />
                </div>

                <button
                  (click)="applyDiscount()"
                  class="btn btn-outline-secondary">
                  Apply Customer Discount
                </button>
              </div>
              <div class="">
                <h6>For Retailer</h6>

                <!-- Original MRP -->
                <p class="text-muted">
                  <small>
                    <del>MRP: {{ product.price ' }}</del>
                  </small>
                </p>
                <!-- Discounted Price -->
                <h4 class="text-success">
                  Price: {{ calculateDiscountedPrice(product.price, product.discountToRetailer || 0)  }}
                </h4>
                <!-- Discount Percentage -->
                <p class="text-danger">
                  You
                  save:(-{{ product.price - calculateDiscountedPrice(product.price, product.discountToRetailer) }}
                  ) {{ product.discountToRetailer }}% off
                </p>
                <div class="mb-3">
                  <label for="discountRetailer" class="form-label">Retailer Discount</label>
                  <input
                    type="number"
                    class="form-control"
                    id="discountRetailer"
                    [(ngModel)]="product.discountToRetailer"
                    placeholder="Enter retailer discount"
                    min="0" max="100"
                  />
                </div>

                <button
                  (click)="applyDiscount()"
                  class="btn btn-outline-secondary">
                  Apply Retailer Discount
                </button>

              </div>
              <div class="">
                <h6>For Mechanic</h6>

                <!-- Original MRP -->
                <p class="text-muted">
                  <small>
                    <del>MRP: {{ product.price ' }}</del>
                  </small>
                </p>
                <!-- Discounted Price -->
                <h4 class="text-success">
                  Price: {{ calculateDiscountedPrice(product.price, product.discountToMechanics || 0)  }}
                </h4>
                <!-- Discount Percentage -->
                <p class="text-danger">
                  You
                  save:(-{{ product.price - calculateDiscountedPrice(product.price, product.discountToMechanics) }}
                  ) {{ product.discountToMechanics }}% off
                </p>
                <div class="mb-3">
                  <label for="discountMechanic" class="form-label">Mechanic Discount</label>
                  <input
                    type="number"
                    class="form-control"
                    id="discountMechanic"
                    [(ngModel)]="product.discountToMechanics"
                    placeholder="Enter mechanic discount"
                    min="0" max="100"
                  />
                </div>

                <button
                  (click)="applyDiscount()"
                  class="btn btn-outline-secondary">
                  Apply Mechanic Discount
                </button>
              </div>
            </div>


            <div class="mt-3">
              <h5>Specifications:</h5>
              <ul class="list-group">
                <li class="list-group-item"><strong>Brand:</strong> <span
                  *ngFor="let brand of product.brands"> {{ brand.name }}</span></li>
                <li class="list-group-item"><strong>Model:</strong><span
                  *ngFor="let model of product.brandModels"> {{ model.name }}, </span></li>
                <li class="list-group-item"><strong>Part Number:</strong> {{ product.partNumber }}</li>
                <li *ngIf="product.weight > 0" class="list-group-item"><strong>Weight:</strong> {{ product.weight }} kg
                </li>
                <li *ngIf="product.dimensions != null" class="list-group-item">
                  <strong>Dimensions:</strong> {{ product.dimensions }}
                </li>
                <li *ngIf="product.material != null" class="list-group-item">
                  <strong>Material:</strong> {{ product.material }}
                </li>
              </ul>
            </div>

            <div class="d-flex justify-content-between m-5">
              <div class="">
                <p class="disabled">Part Number</p>
                <p><strong>{{ product.partNumber }}</strong></p>
              </div>

              <div class="">
                <p disabled>Origin</p>
                <p><strong>Aftermarket</strong></p>
              </div>

              <div class="">
                <p class="disabled">Class</p>
                <p><strong>{{ product.name }}</strong></p>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="mt-4">
        <h5>Product Metrics:</h5>
        <div class="row">
          <div class="col-6 col-md-3 mb-3"> <!-- Changed col-md-4 to col-6 for mobile responsiveness -->
            <div class="card text-dark bg-info-subtle mb-3">
              <div class="card-body">
                <p class="card-title text-dark">Total Sales</p>
                <h5 class="card-text text-dark">{{ productMetrics.totalSales }} units</h5>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-3">
            <div class="card text-dark bg-primary-subtle mb-3">
              <div class="card-body">
                <p class="card-title text-dark">Total Revenue</p>
                <h5 class="card-text text-dark">{{ productMetrics.totalRevenue  }}</h5>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-3">
            <div class="card text-dark bg-warning-subtle mb-3">
              <div class="card-body">
                <p class="card-title text-dark">Total Discount Given</p>
                <h5 class="card-text text-dark">{{ productMetrics.totalDiscountGiven  }}</h5>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-3">
            <div class="card text-dark bg-danger-subtle mb-3">
              <div class="card-body">
                <p class="card-title text-dark">Total GST Collected</p>
                <h5 class="card-text text-dark">{{ productMetrics.totalGSTCollected  }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Order Status Overview -->
      <div class="row mt-4">
        <div class="col-md-12">
          <div class="card h-100">
            <div class="card-header bg text-white">
              <h5 class="card-title">Order Status Overview for {{ product.name }}</h5>
            </div>
            <div class="row mt-4 p-2">
              <div class="col-6 col-md-3 mb-4" *ngFor="let status of orderStatusKeys">
                <!-- Updated classes for responsiveness -->
                <div class="card text-dark bg-success-subtle">
                  <div class="card-body">
                    <p class="card-title text-dark">{{ status }}</p>
                    <h5 class="card-text text-dark">{{ productMetrics.orderStatusCounts[status] }}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="productOrders.length>0" class="mt-4">
        <h5>Orders for {{ product.name }}:</h5>
        <div class="table-responsive"> <!-- Added responsive wrapper -->
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Order ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Order ID</th>
              <td mat-cell *matCellDef="let order"> {{ order.id }}</td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status</th>
              <td mat-cell *matCellDef="let order">
                <span [ngStyle]="{'color': getStatusColor(order.status)}">{{ order.status }}</span>
              </td>
            </ng-container>

            <!-- Total Price Column -->
            <ng-container matColumnDef="totalPrice">
              <th mat-header-cell *matHeaderCellDef> Total Price</th>
              <td mat-cell *matCellDef="let order">
                {{ getTotalPrice(order) }}
              </td>
            </ng-container>

            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef> Quantity</th>
              <td mat-cell *matCellDef="let order">
                {{ getProductQuantity(order) }}
              </td>
            </ng-container>

            <!-- Order Date Column -->
            <ng-container matColumnDef="orderDate">
              <th mat-header-cell *matHeaderCellDef> Order Date</th>
              <td mat-cell *matCellDef="let order"> {{ order.createdAt | date: 'short' }}</td>
            </ng-container>

            <!-- Button Column -->
            <ng-container matColumnDef="details">
              <th mat-header-cell *matHeaderCellDef> Details</th>
              <td mat-cell *matCellDef="let order">
                <button mat-button [routerLink]="['/admin/manage-orders/view-order-details', order.id]">
                  <mat-icon>arrow_forward</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

        <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
      </div>


    </div>
  </div>
</div>
