<button class="btn border-0" type="button" (click)="toggleSidebar()" aria-expanded="false" aria-controls="sidebarMenu">
  <span class="material-symbols-outlined">
view_sidebar
</span>
</button>

<div [@sidebarToggle]="isSidebarOpen ? 'open' : 'closed'"  [ngClass]="{'collapse': !isSidebarOpen, 'd-lg-block': isSidebarOpen}" id="sidebarMenu">
  <div class="sidebar-container">
    <ul class="nav flex-column sidebar-menu">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="'/admin'">
          <i class="fas fa-home"></i> Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="'/admin/add-product'">
          <i class="fas fa-plus"></i> Add Product
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  (click)="toggleDropdown('manageDropdown')">
          <i class="fas fa-box"></i> Manage
          <i class="fas fa-caret-down" style="margin-left: auto;"></i>
        </a>
        <ul class="nav flex-column dropdown-menu" id="manageDropdown" style="display: none;">
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="'/admin/manage-products'">
              <i class="fas fa-box"></i> Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="'/admin/manage-brands'">
              <i class="fas fa-tags"></i> Brands
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="'/admin/manage-categories'">
              <i class="fas fa-tags"></i> Categories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="'/admin/manage-orders'">
              <i class="fas fa-tags"></i> Orders
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link"  (click)="toggleDropdown('promotion')">
          <i class="fas fa-bullhorn"></i> Promotion
          <i class="fas fa-caret-down" style="margin-left: auto;"></i>
        </a>
        <ul class="nav flex-column dropdown-menu" id="promotion" style="display: none;">
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="'/admin/promotion-discount'">
              <i class="fas fa-percent"></i> Discount
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="'/admin/promotion-offers'">
              <i class="fas fa-gift"></i> Offers
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link"  (click)="toggleDropdown('customer')">
          <i class="fas fa-users"></i> Customer
          <i class="fas fa-caret-down" style="margin-left: auto;"></i>
        </a>
        <ul class="nav flex-column dropdown-menu" id="customer" style="display: none;">
          <li class="nav-item">
            <a class="nav-link" href="#" [routerLink]="'/admin/manage-customers'">
              <i class="fas fa-user-cog"></i> Manage Customer
            </a>
          </li>

        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/admin/alert'">
          <i class="fas fa-exclamation-triangle"></i> Alert
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" href="#">
          <i class="fas fa-sign-out-alt"></i> Logout
        </a>
      </li>
    </ul>
  </div>
</div>
